$primary-color: #3498db;
$secondary-color: #2c3e50;
$lightness: -10%;
$body-bg: #f4f4f9;

// font
$font-family: Arial, sans-serif;
$font-color: #333;

$border-radius: 40px;
$input-background-color: #eae7e7;
