@use 'variables';
.course-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px 50px;

    .course-list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        border-bottom: 1px solid variables.$border-color;
    }

    .course-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 360px;
        grid-gap: 20px;
        justify-content: flex-start;

        .course-card {
            background-color: white;
            border: 1px solid #ddd;

            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            display: flex;
            flex-direction: column;

            .course-card-image img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .course-card-body {
                padding: 15px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .course-card-header {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                .view-course-button {
                    background-color: #28a745;
                    color: white;

                    font-size: 14px;
                    font-weight: bold;
                    cursor: pointer;

                    width: 100%;
                    padding: 12px 12px;

                    border: none;
                    border-radius: variables.$border-radius;
                }

                .view-course-button:hover {
                    background-color: #218838;
                }

                h3 {
                    margin: 0;
                    font-size: 18px;
                }

                span {
                    -webkit-box-orient: vertical;
                    display: -webkit-box;

                    height: 100%;
                    width: 100%;
                    margin: 10px 0;

                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;

                    font-size: 14px;
                    text-overflow: ellipsis;
                }
            }
        }

        .add-course-button {
            justify-content: center;
            align-items: center;
            border: 1px dotted variables.$border-color;

            background-color: variables.$input-background-color;

            cursor: pointer;

            i {
                font-size: 40px;
                color: variables.$border-color;
            }
        }
    }
}
