@use 'variables';
@use 'mixins';
@use 'sass:color';

//main
body {
    background-color: variables.$body-bg;
    font-family: variables.$font-family;
    margin: 0;
    padding: 0;
    color: variables.$font-color;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    color: variables.$primary-color;
    text-align: center;
    padding: 20px;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.flex-5 {
    flex: 0.5;
}

.flex-1 {
    flex: 1;
}

.content {
    background-color: variables.$content-bg;
    overflow-y: auto;
}
